.news-item {
    width: 370px;
    margin: 0 auto;
}

.news-item__img {
    width: 370px;
    height: 231px;
    object-fit: cover;
}

.news-item__header {
    display: flex;
    align-items: center;
    margin-top: 29px;
    margin-left: 29px;
}

.news-item__date {
    margin-left: 11px;
    color: #c0d0dc;
    font-family: 'UM', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.news-item__title.heading {
    width: 84%;
    margin-top: 9px;
    margin-left: 30px;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 25px;
}

.news-item__description {
    width: 86%;
    margin-left: 29px;
    color: #26333c;
    font-family: 'UR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 1240px) and (min-width: 768px) {
    .news-item {
        width: 300px;
    }

    .news-item__img {
        width: 300px;
        height: 149px;
    }

    .news-item__header {
        margin-top: 16px;
        margin-left: 0;
    }

    .news-item__title.heading {
        width: 100%;
        margin: 12px 0 10px;
        font-size: 16px;
        line-height: 20px;
    }

    .news-item__description {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .news-item__header {
        margin-left: 0;
    }

    .news-item__title.heading {
        margin-left: 0;
    }

    .news-item__description {
        margin-left: 0;
    }
}

@media screen and (max-width: 414px) {
    .news-item {
        width: 276px;
    }

    .news-item__img {
        width: 276px;
        height: 173px;
    }

    .news-item__title.heading {
        width: 87%;
    }

    .news-item__description {
        width: 95%;
    }
}