include ../label/index.pug
include ../heading/index.pug
include ../description-text/index.pug

mixin news-item({img, label, date, title, description})
    article.news-item
        img(src= img, alt="news").news-item__img.lazyload
        header.news-item__header
            +label({theme: label.theme})
                a(href="./")= label.text
            span.news-item__date= date
        +heading({tag: 'h3', level: 3, className: 'news-item__title'})
            span= title
        p.news-item__description= description
