<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title all pages
  body(style="display: flex; justify-content: center; align-items: center; height: 100vh;")
    ul(style="display: grid;")
      li
        a(href="./index.html") Главная
      li  
        a(href="./404.html") 404
      li  
        a(href="./achivements.html") Достижения
      li  
        a(href="./contacts.html") Контакты
      li  
        a(href="./history.html") История
      li  
        a(href="./media.html") Медиа
      li  
        a(href="./news.html") Новости
      li  
        a(href="./partners.html") Партнеры
      li  
        a(href="./photo-video.html") Фото/видео
      li  
        a(href="./probiotics.html") Пробиотики
      li  
        a(href="./procurement.html") Закупки
      li  
        a(href="./reviews.html") Отзывы
      li  
        a(href="./style-guide.html") Стайд гайд
      li  
        a(href="./team.html") Команда
      li  
        a(href="./text-page.html") Ингредиенты
      li  
        a(href="./vacancies.html") Вакансии
      li  
        a(href="./vacancy.html") Вакансия