.media-item {
    position: relative;
    cursor: pointer;
}

.media-item__img {
    width: 370px;
    height: 231px;
    object-fit: cover;
}

.media-item__date {
    display: block;
    padding: 22px 42px 0;
    color: #c0d0dc;
    font-family: 'UM', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.media-item__title.heading {
    width: 100%;
    padding: 17px 42px;
    font-family: 'UM', sans-serif;
    line-height: 24px;
}

.media-item__play-icon {
    position: absolute;
    top: 67px;
    left: 141px;
    width: 87px;
    height: 87px;;
}

@media screen and (max-width: 768px) {
    .media-item {
        width: 276px;
    }

    .media-item__img {
        width: 276px;
        height: 173px;
    }

    .media-item__date {
        padding: 17px 0 14px;
    }

    .media-item__title.heading {
        padding: 0;
    }

    .media-item__play-icon {
        top: 56px;
        left: 109px;
        width: 57px;
        height: 57px;
    }
}