.media-item {
    position: relative;
    cursor: pointer;
}

.media-item.video_true::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 231px;
    background-image: linear-gradient(to top, #042d72, #258fe2);
    opacity: .8;
}

.media-item__img {
    width: 370px;
    height: 231px;
    object-fit: cover;
}

.media-item__date {
    display: block;
    padding: 22px 42px 0;
    color: #c0d0dc;
    font-family: 'UM', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.media-item__title.heading {
    width: 100%;
    padding: 17px 42px;
    font-family: 'UM', sans-serif;
    line-height: 24px;
}

.media-item__play-icon {
    position: absolute;
    top: 67px;
    left: 141px;
    width: 87px;
    height: 87px;;
}

@media screen and (max-width: 1240px) and (min-width: 980px) {
    .media-item,
    .media-item__img {
        width: 300px;
    }

    .media-item.video_true::before,
    .media-item__img {
        height: 150px
    }

    .media-item__title.heading,
    .media-item__date {
        padding: 0;
    }

    .media-item__play-icon {
        top: 27px;
        left: 107px;
    }

    .media-item__date {
        padding: 12px 0 10px;
    }
}

@media screen and (max-width: 979px) {
    .media-item {
        width: 276px;
    }

    .media-item.video_true::before,
    .media-item__img {
        width: 276px;
        height: 173px;
    }

    .media-item__date {
        padding: 17px 0 14px;
    }

    .media-item__title.heading {
        padding: 0;
    }

    .media-item__play-icon {
        top: 56px;
        left: 109px;
        width: 57px;
        height: 57px;
    }
}