.team__title {
    margin: 79px 192px 39px;
}

.teammates {
    width: 1170px;
    margin: 0 auto;
}

.teammates .column {
    width: 370px;
}

.teammates .column .teammate:not(:last-child) {
    margin-bottom: 30px;
}

.teammates__columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 109px;
}

.teammate-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 24, 37, .77);
}

.teammate-popup__content {
    position: relative;
    display: grid;
    grid-template-columns: 350px 386px;
    grid-column-gap: 57px;
    width: 970px;
    padding: 70px 90px;
    background-color: #fff;
}

.teammate-popup__img {
    width: 350px;
    height: 370px;
    object-fit: cover;
    background-color: #f2f2f2;
}

.teammate-popup__name {
    margin-bottom: 20px;
    color: #2c343c;
    font-family: 'UM', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.teammate-popup__position {
    margin-bottom: 29px;
    color: #3c84cc;
    font-family: 'UM', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.teammate-popup__description {
    display: grid;
    grid-row-gap: 20px;
    color: #4d4d4d;
    font-family: 'UR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.teammate-popup__close {
    position: absolute;
    top: -46px;
    right: 0;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, .3);
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .team__title.heading {
        margin: 26px 0 11px 119px;
        font-size: 32px;
        line-height: 66px;
    }

    .teammates {
        width: 950px;
    }

    .teammate.big {
        width: 100%;
        margin-bottom: 23px;
    }

    .teammate.big .teammate__description {
        margin-left: 36px;
    }

    .teammate.big .teammate__img {
        margin-right: -35px;
    }

    .teammate.big .teammate__content .hightlighted-text {
        width: 100%;
        margin: 54px 0 14px 37px;
    }

    .teammate.big .teammate__position,
    .teammate.big .teammate__name,
    .teammate__description {
        margin-left: 36px;
    }

    .teammate {
        width: 300px;
        padding: 20px 27px 30px;
    }

    .teammate .teammate__img {
        margin-bottom: 26px;
    }

    .teammate__description {
        margin-left: 0;
    }

    .teammate__position {
        margin: 11px 0 16px;
    }

    .teammates .column .teammate {
        margin: 0 0 30px;
    }

    .teammates .column {
        width: 300px;
    }

    .teammate .hightlighted-text {
        margin-bottom: 14px;
        font-size: 16px;
        line-height: 24px;
    }

    .teammates__columns {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .team__title.heading {
        margin: 41px 20px 17px;
        font-size: 22px;
        line-height: 66px;
    }

    .teammates {
        width: 100%;
    }

    .teammates .column {
        width: 100%;
    }

    .teammates__columns {
        flex-direction: column;
        margin-bottom: 26px;
    }

    .teammate-popup {
        overflow-y: auto;
    }

    .teammate-popup__content {
        grid-template-columns: 1fr;
        width: 100%;
        height: max-content;
        margin-top: 300px;
        padding: 25px 22px;
    }

    .teammate-popup__img {
        width: 280px;
        height: 280px;
        margin-bottom: 41px;
    }
}