.style-guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 142px;
}

.style-guide__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.style-guide__heading-1 {
    margin-bottom: 41px;
}

.style-guide__heading-2 {
    margin-bottom: 45px;
}

.style-guide__heading-3 {
    margin-bottom: 27px;
}

.style-guide__heading-4 {
    margin-bottom: 27px;
}

.style-guide__text {
    width: 95%;
    margin-bottom: 44px;
}

.style-guide__hightlighted-text {
    width: 100%;
    margin-bottom: 26px;
}

.style-guide__description-text {
    width: 95%;
    margin-bottom: 31px;
}

.style-guide__description-text .description-text:not(:last-child) {
    margin-bottom: 27px;
}

.style-guide__menu-links {
    display: flex;
    justify-content: space-between;
    width: 478px;
    margin-top: 14px;
}

.style-guide__plus-buttons {
    display: flex;
    width: 71.7%;
    justify-content: space-between;
    padding-right: 96px;
    margin-top: 42px;
    margin-left: auto;
}

.plus-button-block-2 {
    margin-left: 17px;
}

.style-guide__labels {
    display: flex;
    width: 74.8%;
    justify-content: space-between;
    padding-right: 47px;
    margin-top: 133px;
    margin-left: auto;
}

.style-guide__labels .label {
    margin-bottom: 7px;
}

.labels__block-2 {
    margin-left: 23px;
}

.style-guide__links {
    display: flex;
    justify-content: space-between;
    width: 74.7%;
    margin-left: auto;
    margin-top: 104px;
    margin-right: 3px;
}

.style-guide__link {
    display: flex;
    align-items: center;
}

.style-guide__link.-link-2 {
    margin-left: 21px;
}

.style-guide__link svg {
    margin-right: 19px;
}

.style-guide__partner-logos {
    display: flex;
    justify-content: space-between;
    width: 39.9%;
    margin-top: 113px;
    margin-left: 202px;
}

.style-guide__buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin-top: 100px;
    margin-left: 200px;
}

.style-guide__buttons .reds,
.style-guide__buttons .blues {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 10px;
}

.style-guide__arrow-buttons {
    display: flex;
    justify-content: space-between;
    width: 62%;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: auto;
}

.style-guide__arrow-buttons .arrow-buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 14px;
}

.style-guide__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 127px;
    padding: 0 69px;
    margin-top: 58px;
    background-color: #2744b7;
}

.style-guide__header {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 34px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 94px;
    margin-left: -5px;
}

.style-guide__inputs {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 29px;
    margin-top: 99px;
    margin-left: -5px;
    width: 70.4%;
}

.style-guide__selects {
    display: grid;
    width: 83.3%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 176px;
    margin-left: 122px;
}

.style-guide__select {
    width: 279px;
}