.reviews-page {
  width: 769px;
  margin: 71px auto 87px;
}

.reviews-page__tabs {
  color: #7997af;
  font-family: 'UM', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 66px;
  text-transform: uppercase;
}

.reviews-page__tabs a:not(:last-child) {
  margin-right: 25px;
}

.reviews-page__tabs .active {
  color: #0e7dd5;
}

.reviews-page__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2px;
}

.reviews-page__pagination {
  display: flex;
  width: max-content;
  margin: 69px auto 67px;
  color: #2c343c;
  font-family: 'UM', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.reviews-page__pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin: 0 5px;
}

.reviews-page__pagination a.active {
  border: 1px solid rgba(14, 125, 213, .3);
  color: #0e7dd5;
}

@media screen and (max-width: 768px) {
  .reviews-page {
    width: 100%;
    margin: 27px 0 42px;
  }

  .reviews-page__title.heading {
    margin: 0 22px 26px;
    font-size: 22px;
    line-height: unset;
  }

  .reviews-page__tabs {
    display: none;
  }

  .reviews-page__pagination {
    margin: 26px auto 0;
  }
} 