include ../../components/header/index.pug
include ../../components/top-banner/index.pug
include ../../components/heading/index.pug
include ../../components/question/index.pug
include ../../components/review/index.pug
include ../../components/footer/index.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Отзывы
  body
    +header({menu: [
      {
        text: 'Пробиотики',
        href: './',
        active: true
      },
      {
        text: 'Вакцина Гепатита А',
        href: './',
        active: false
      },
      {
        text: 'Ингредиенты',
        href: './',
        active: false
      },
      {
        text: 'Контрактное производство',
        href: './',
        active: false
      }
    ]})
    +top-banner({
      img: require('../../assets/img/reviews-top-bg.png'), 
      items: [
        {
          text: 'Главная',
          link: './'
        },
        {
          text: 'Полезное',
          link: './'
        },
        {
          text: 'Отзывы',
          link: './'
        },
      ],
      title: 'Полезное',
      menu: [
        {
          text: 'Частые вопросы',
          link: './'
        },
        {
          text: 'Отзывы',
          link: './',
          active: true          
        },
      ]
    })
    main
      .reviews-page
        +heading({tag: 'h2', className: 'reviews-page__title', level: 2})
          | Отзывы

        .reviews-page__tabs
          a(href="./").active Все
          a(href="./") Специалистов
          a(href="./") Потребителей

        .reviews-page__items
          +review({
            img: require('../../assets/img/user-1.png'),
            name: 'Александра Сергеевна Антипова',
            position: 'генеральный директор',
            title: 'Польза от комплекса Экофлор, Нарилак и Пробиофлор',
            description: 'Элегия, по определению, аккумулирует глубокий художественный талант, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Снижение, согласно традиционным представлениям, продолжает филогенез, так Г.Корф формулирует собственную антитезу. Эти слова совершенно справедливы, однако интерпретация вызывает миракль.'
          })
          +review({
            img: require('../../assets/img/user-2.png'),
            name: 'Александра Сергеевна Антипова',
            position: 'генеральный директор',
            title: 'Польза от комплекса Экофлор, Нарилак и Пробиофлор',
            description: 'Элегия, по определению, аккумулирует глубокий художественный талант, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Снижение, согласно традиционным представлениям, продолжает филогенез, так Г.Корф формулирует собственную антитезу. Лабораторность художественной культуры имеет классический реализм. Элегия, по определению, аккумулирует глубокий художественный талант, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Снижение, согласно традиционным представлениям, продолжает филогенез, так Г.Корф формулирует собственную антитезу. Эти слова совершенно справедливы, однако интерпретация вызывает миракль. Эти слова совершенно справедливы, однако интерпретация вызывает миракль.'
          })
          +review({
            img: require('../../assets/img/user-3.png'),
            name: 'Александра Сергеевна Антипова',
            position: 'генеральный директор',
            title: 'Польза от комплекса Экофлор, Нарилак и Пробиофлор',
            description: 'Элегия, по определению, аккумулирует глубокий художественный талант, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Снижение, согласно традиционным представлениям, продолжает филогенез, так Г.Корф формулирует собственную антитезу. Лабораторность художественной культуры имеет классический реализм. Элегия, по определению, аккумулирует глубокий художественный талант, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Снижение, согласно традиционным представлениям, продолжает филогенез, так Г.Корф формулирует собственную антитезу. Эти слова совершенно справедливы, однако интерпретация вызывает миракль. Эти слова совершенно справедливы, однако интерпретация вызывает миракль.'
          })
        
        .reviews-page__pagination
          a(href="./").active 1
          a(href="./") 2
          a(href="./") 3

    +question()
    +footer()