mixin main-hepatitis-a()
    section.main-hepatitis-a 
        .container.main-hepatitis-a__inner-container
            .main-hepatitis-a__label ЕДИНСТВЕННЫЕ В РОССИИ
            +heading({tag: 'h2', level: 1, className: 'main-hepatitis-a__title'})
                | Вакцина Гепатита А
            .main-hepatitis-a__description Отечественная разработка, не уступающая по эффективности зарубежным аналогам и не содержащая антибиотиков.
            +button({theme: 'blue', className: 'main-hepatitis-a__btn'})
                | Узнать больше