.main-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/main-contacts.png');
    background-size: cover;
    background-position: 0 50%;
    overflow: hidden;
}

.main-contacts__inner-contacts {
    height: 558px;
}

.main-contacts__title {
    margin-left: 10px;
    margin-bottom: 44px;
    color: #ffffff;
}

.main-contacts__content {
    display: flex;
}

.main-contacts__subtitle.heading.-level-3 {
    margin-bottom: 22px;
    margin-top: 20px;
    font-size: 22px;
    color: #ffffff;
    line-height: unset;
}

.main-contacts__info {
    margin-left: 102px;
    margin-top: 4px;
}

.main-contacts__subtitle {
    margin-bottom: 30px;
}

.main-contacts__description {
    margin-bottom: 58px;
    color: #ffffff;
}

.main-contacts .phones a {
    display: block;
    color: #ffffff;
    font-family: 'UM', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.main-contacts__submit.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 45px;
    margin-top: 50px;
    padding: 0;
    line-height: 0;
}

#contactsMap {
    width: 568px;
    height: 379px;
    margin-left: 45px;
    background-color: #0e7dd5;
}

#contactsMap canvas {
    filter: grayscale(1);
}

@media screen and (max-width: 1240px) and (min-width: 768px) {
    .main-contacts__title.heading.-level-1 {
        margin: 74px 0 0 80px;
        font-size: 40px;
        line-height: 90px;
    }

    .main-contacts__subtitle.heading.-level-3 {
        margin-top: 0;
        margin-bottom: 14px;
    }

    .main-contacts__description {
        width: 107%;
        margin-bottom: 16px;
    }

    .main-contacts__content {
        width: 700px;
        margin: 0 auto;
    }

    .main-contacts__info {
        margin-top: 6px;
        margin-left: 114px;
    }

    #contactsMap {
        width: 480px;
        height: 280px;
        margin-top: 11px;
    }

    .main-contacts__submit.button {
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .main-contacts {
        height: max-content;
    }

    .main-contacts__inner-contacts {
        height: max-content;
    }

    .main-contacts__content {
        flex-direction: column;
    }

    .main-contacts__title.heading.-level-1 {
        margin-top: 47px;
        margin-left: 22px;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: unset;
    }

    #contactsMap {
        width: calc(100% - 44px);
        height: 195px;
        margin: 0 22px 42px;
    }

    .main-contacts__info {
        margin: 0 22px;
    }

    .main-contacts__subtitle.heading.-level-3 {
        margin: 0 0 28px;
    }

    .main-contacts__description {
        margin-bottom: 38px;
    }

    .main-contacts__submit.button {
        margin-top: 38px;
        margin-bottom: 61px;
    }
}