mixin main-contacts(className)
  section(class=`main-contacts section ${className ? className : ''}`)
    .container.main-contacts__inner-contacts
      +heading({tag: 'h2', level: 1, className: 'main-contacts__title fadeInLeft animated delay-1s slow'})
        | Контакты
      .main-contacts__content
        #contactsMap.fadeInLeft.animated.delay-1s.slow
        .main-contacts__info.fadeInRight.animated.delay-1s.slow
          +heading({tag: 'h2', level: 3, className: 'main-contacts__subtitle fadeInRight animated delay-button'})
            | Адрес
          +description-text({className: 'main-contacts__description fadeInRight animated delay-button'})
            | Новосибирская область, 
            br
            | р.п. Кольцово, ул. Центральная, 13А
          +heading({tag: 'h2', level: 3, className: 'main-contacts__subtitle fadeInRight animated delay-2s'})
            | Телефон
          .phones.animated.fadeInRight.delay-2s
            a(href='tel: +7 (383) 336-51-51') +7 (383) 336-51-51
            a(href='tel: +7 (383) 336-75-50') +7 (383) 336-75-50
          +button({theme: 'red', className: 'main-contacts__submit js-question-submit animated fadeInRight delay-3s'})
            | Задать вопрос