.partner-item {
  margin-bottom: 87px;
}

.partner-item__description {
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .partner-item {
    margin-bottom: 36px;
  }
}
