.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background-image: url('../../assets/img/main-1.png'); */
    background-size: cover;
    background-position: 0 50%;
}

.main-banner__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-banner__inner-container {
    margin-top: 128px;
}

.main-banner__label {
    margin-left: 14px;
    margin-bottom: 46px;
    color: #69b9a9;
    font-family: 'UB', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.main-banner__title.heading {
    width: 52%;
    margin-bottom: 63px;
    margin-left: 8px;
    font-size: 82px;
    line-height: 82px;
    color: #ffffff;
}

.main-banner__btn.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 12px;
    margin-right: 162px;
    width: 156px;
    height: 45px;
    padding: 0;
}

@media screen and (max-width: 1240px) and (min-width: 980px) {
    .main-banner__inner-container {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        width: 816px;
        margin-top: 170px;
    }

    .main-banner__title.heading {
        grid-row-start: 2;
        grid-column-start: 1;
        width: 56%;
        margin-bottom: 0;
        margin-left: 10px;
        font-size: 50px;
        line-height: 52px;
    }

    .main-banner__btn.button {
        grid-row-start: 2;
        grid-column-end: 3;
        margin: auto 0 14px 9px;
    }

    .main-banner__label {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 979px) {
    .main-banner__inner-container {
        margin-top: auto;
    }

    .main-banner__label {
        display: block;
        margin-left: 22px;
        margin-bottom: 24px;
        line-height: unset;
    }

    .main-banner__title.heading {
        margin-left: 22px;
        margin-bottom: 23px;
        font-size: 32px;
        line-height: unset;
    }

    .main-banner__btn.button {
        margin: 0 auto 55px 22px;
    }
}

@media screen and (max-width: 414px) {
    .main-banner__title.heading {
        width: calc(100% - 44px);
    }
}