.procurement {
  width: 770px;
  margin: 0 auto;
}

.procurement__title {
  margin: 78px 0 52px;
}

.procurement__link {
  display: flex;
  align-items: center;
}

.procurement__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  padding: 34px 77px 44px 63px;
  background-color: #f2f6fa;
}

.procurement__info .link {
  margin-left: 18px;
  line-height: unset;
}

.procurement__email {
  color: #70797d;
  font-family: 'UR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.procurement__email a {
  font-family: 'UM', sans-serif;
  color: #0e7dd5;
}

.procurement__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 54px;
  margin-bottom: 54px;
}

.procurement__more .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 45px;
  margin-left: auto;
  margin-bottom: 80px;
  padding: 0;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .procurement {
    width: 700px;
  }

  .procurement__title.heading {
    margin-top: 27px;
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 66px;
  }

  .procurement__info {
    margin-bottom: 50px;
    padding: 39px 58px 47px 36px;
    width: 89.5%;
  }

  .purchase__date {
    margin-bottom: 17px;
  }

  .purchase__description {
    width: 90%;
  }

  .procurement__items {
    grid-row-gap: 45px;
  }

  .procurement__more .button {
    margin-right: 83px;
  }
}

@media screen and (max-width: 767px) {
  .procurement {
    width: 100%;
  }

  .procurement__title.heading {
    margin: 31px 22px 16px;
    font-size: 22px;
    line-height: unset;
  }

  .procurement__info {
    flex-direction: column;
    padding: 20px 22px;
  }

  .procurement__link {
    margin-bottom: 20px;
  }

  .procurement__items {
    width: calc(100% - 44px);
    margin: 0 22px 25px;
  }

  .procurement__more .button {
    margin: 0 22px 37px auto;
  }
}