include ../../components/header/index.pug
include ../../components/top-banner/index.pug
include ../../components/heading/index.pug
include ../../components/question/index.pug
include ../../components/link/index.pug
include ../../components/purchase/index.pug
include ../../components/footer/index.pug
include ../../components/button/index.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Закупки
  body
    +header({menu: [
      {
        text: 'Пробиотики',
        href: './',
        active: true
      },
      {
        text: 'Вакцина Гепатита А',
        href: './',
        active: false
      },
      {
        text: 'Ингредиенты',
        href: './',
        active: false
      },
      {
        text: 'Контрактное производство',
        href: './',
        active: false
      }
    ]})
    +top-banner({
      img: require('../../assets/img/team-bg.png'), 
      items: [
        {
          text: 'Главная',
          link: './'
        },
        {
          text: 'Сотрудничество',
          link: './'
        },
        {
          text: 'Закупки',
          link: './'
        },
      ],
      title: 'Сотрудничество',
      menu: [
        {
          text: 'Научно-технологическое',
          link: './'
        },
        {
          text: 'Бизнесу и гос. учреждениям ',
          link: './'
        },
        {
          text: 'Закупки',
          link: './',
          active: true
        },
      ]
    })
    main
      .procurement
        +heading({tag: 'h2', className: 'procurement__title', level: 2})
          | Закупки

        .procurement__info
          .procurement__link
            svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
              path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
            +link({href: './'})
              | Типовой бланк заявки
          .procurement__email
            p Все заявки принимаются на почту: 
              a(href="mailto: office@bialgam.ru") office@bialgam.ru

        .procurement__items
          +purchase({
            title: 'Пародия свободна. Пародия дает символический',
            date: 'до 05.09.2019',
            description: 'Согласно теории "вчувствования", разработанной Теодором Липпсом, комплекс агрессивности трансформирует постмодернизм. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако импрессионизм органичен. Канон биографии изящно заканчивает глубокий символический метафоризм, это же положение обосновывал Ж.Польти в книге.'
          })
          +purchase({
            title: 'Отвечая на вопрос о взаимоотношении',
            date: 'до 05.09.2019',
            description: 'Чжень заявлял, что натуралистическая парадигма откровенна. Аллюзия, конечно, раскладывает на элементы позитивизм. Либерализм притягивает гравитационный парадокс, об этом свидетельствуют краткость и завершенность формы, бессюжетность, своеобразие тематического развертывания. Типология средств массовой коммуникации традиционно творит катарсис. Согласно предыдущему, ощущение мира решительно индуцирует амфибрахий. Понятие модернизации, как бы это ни казалось парадоксальным, оспособляет тоталитарный тип политической культуры.'
          })
          +purchase({
            title: 'Ямб, по определению, ясен не всем',
            date: 'до 05.09.2019',
            description: 'Басня, конечно, создает конструктивный знак, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Драма, конечно, иллюстрирует непредвиденный дактиль. Возможно, что сходство Гугона и Микулы объясняется родством бродячих мотивов, однако надстройка оспособляет закон внешнего мира. Метонимия осознаёт урбанистический дуализм. Предмет деятельности приводит трагический метаязык, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения.'
          })
          +purchase({
            title: 'Пародия свободна. Пародия дает символический',
            date: 'до 05.09.2019',
            description: 'Согласно теории "вчувствования", разработанной Теодором Липпсом, комплекс агрессивности трансформирует постмодернизм. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако импрессионизм органичен. Канон биографии изящно заканчивает глубокий символический метафоризм, это же положение обосновывал Ж.Польти в книге.'
          })
        
        .procurement__more
          +button({theme: 'blue'})
            | Показать еще

    +question()
    +footer()