.vacancies__title.heading {
  margin: 68px 0 32px;
  line-height: unset;
}

.vacancies-page .container {
  width: 1170px;
}

.vacancies__subtitle.heading {
  margin-bottom: 34px;
  line-height: unset;
}

.vacancies__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 29px;
  margin-bottom: 56px;
}

.vacancies__items .vacancy {
  padding: 31px;
  background-color: #f0f4f9;
  color: #0e7dd5;
  font-family: 'UM', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: underline;
}

.vacancies__tip {
  margin-bottom: 42px;
  background-color: #f2f6fa;
}

.vacancies__tip .tip__content {
  display: flex;
  padding: 33px 0 43px;
  color: #70797d;
}

.vacancies__tip .tip__content .tip__text {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 17px;
}

.vacancies__tip .tip__content span {
  color: #0e7dd5;
  cursor: pointer;
}

.vacancies__tip .tip__content img {
  margin-right: 52px;
}

@media screen and (max-width: 1240px) and (min-width: 980px) {
  .vacancies-page .container {
    width: 960px;
  }

  .vacancies-page .container-sm {
    width: 790px;
  }

  .vacancies__title.heading {
    margin: 24px 0 3px;
    font-size: 32px;
    line-height: 66px;
  }

  .vacancies__subtitle.heading {
    margin-bottom: 46px;
    font-size: 18px;
  }

  .vacancies__items {
    margin-bottom: 52px;
  }

  .vacancies__items .vacancy {
    width: 300px;
    height: 112px;
    font-size: 16px;
    padding-right: 0;
    line-height: 24px;
  }
}

@media screen and (max-width: 979px) {
  .vacancies__title.heading {
    margin: 34px 22px 23px;
    font-size: 22px;
    line-height: unset;
  }
  
  .vacancies__subtitle.heading {
    width: calc(100% - 44px);
    margin: 0 22px 23px;
    font-size: 18px;
    line-height: unset;
  }

  .vacancies__items {
    grid-template-columns: 1fr;
    grid-row-gap: 3px;
    margin-bottom: 36px;
  }

  .vacancies__items .vacancy {
    padding: 27px 20px 30px;
    font-size: 18px;
    line-height: 27px;
  }

  .vacancies-page .container,
  .vacancies__items.container {
    width: 100%;
  }

  .vacancies__tip .tip__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .vacancies__tip .tip__content img {
    width: 46px;
    height: 46px;
    margin-right: 0;
    margin-bottom: 23px;
  }

  .vacancies__tip .tip__content .description-text {
    padding: 0 20px;
  }
}
