include ../../components/header/index.pug
include ../../components/main-banner/index.pug
include ../../components/main-indicator/index.pug
include ../../components/main-probiotics/index.pug
include ../../components/main-hepatitis-a/index.pug
include ../../components/main-advantages/index.pug
include ../../components/main-expert/index.pug
include ../../components/main-news/index.pug
include ../../components/main-contacts/index.pug
include ../../components/footer/index.pug

html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Вектор-БиАльгам
  body
    +main-indicator()
    +header({menu: [
      {
        text: 'Пробиотики',
        href: './',
        active: true
      },
      {
        text: 'Вакцина Гепатита А',
        href: './',
        active: false
      },
      {
        text: 'Ингредиенты',
        href: './',
        active: false
      },
      {
        text: 'Контрактное производство',
        href: './',
        active: false
      }
    ]})
    main
      #main-sections
        .main-sections__slide
          +main-banner()
        .main-sections__slide
          +main-probiotics()
        .main-sections__slide
          +main-hepatitis-a()
        .main-sections__slide
          +main-advantages()
        .main-sections__slide
          +main-expert()
        .main-sections__slide
          +main-news()
        .main-sections__slide
          +main-contacts()
        .main-sections__slide
          +footer()
    script(src='https://api-maps.yandex.ru/2.1/?apikey=98649c5f-f161-4db2-a5ed-ca666d41bbfa&lang=ru_RU' type='text/javascript' defer='')
    
