.contacts-locations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 76px 0 74px;
    width: 99%;
    margin-left: auto;
}

.contacts-locations__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-locations__block:first-child .contacts-location__description,
.contacts-locations__block:nth-child(2) .contacts-location__description {
    margin-right: 9px;
}

.contacts-locations__block:first-child .contacts-location__title.heading.-level-4,
.contacts-locations__block:nth-child(2) .contacts-location__title.heading.-level-4 {
    margin-right: 9px;
}

.contacts-location__icon {
    margin-bottom: 26px;
}

.contacts-location__title.heading.-level-4 {
    font-family: 'UM', sans-serif;
    line-height: unset;
}

.contacts-location__description {
    margin: 19px 0 47px;
    color: #6b747b;
    text-align: center;
}

.contacts-locations__block a {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 16px;
    line-height: unset;
}

.contacts-locations__block .socials__link {
    margin: 0;
}

.contacts-locations__block .socials {
    margin-top: 28px;
}

#map canvas {
    filter: grayscale(1);
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    #map {
        width: 950px;
        height: 250px;
        margin: 0 auto 60px;
    }

    .contacts-locations {
        margin-top: 65px;
        margin-bottom: 52px;
    }

    .contacts-location__icon {
        width: 70px;
        height: 70px;
    }

    .description-text.contacts-location__description {
        width: 82%;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 768px) {
    .contacts-locations {
        grid-template-columns: 1fr;
        grid-row-gap: 51px;
        margin: 35px 0 49px;
    }

    .contacts-location__icon {
        margin-bottom: 39px;
    }

    .contacts-location__description {
        margin: 23px 0 31px;
    }

    .contacts-locations__block a {
        margin-top: 18px;
    }
}