mixin main-indicator()
    .main-indicator.js-main-indicator
        .main-indicator__dot.active(data-value="0")
        .main-indicator__dot(data-value="1")
        .main-indicator__dot(data-value="2")
        .main-indicator__dot(data-value="3")
        .main-indicator__dot(data-value="4")
        .main-indicator__dot(data-value="5")
        .main-indicator__dot(data-value="6")