.vacancy-page__title {
  width: 659px;
  margin: 75px 0 37px;
  color: #24313a;
  font-family: 'UM', sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
}

.vacancy-page .text {
  margin-bottom: 40px;
  font-size: 26px;
}

.vacancy-page .lists {
  margin: 54px 0 71px;
}

.vacancy-page .list:not(:last-child) {
  margin-bottom: 53px;
}

.vacancy-page .list {
  width: 668px;
  margin-left: auto;
}

.vacancy-page .list__title {
  color: #0e7dd5;
  font-family: 'UR', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 66px;
}

.vacancy-page .list__items {
  padding-left: 22px;
  color: #24313a;
  font-family: 'UR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.vacancy-page .list__items li {
  position: relative;
}

.vacancy-page .list__items li::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -22px;
  width: 8px;
  height: 1px;
  background-color: #0e7dd5;
}

@media screen and (max-width: 1240px) and (min-width: 980px) {
  .vacancy-page .container-sm {
    width: 790px;
  }

  .vacancy-page__title.heading {
    margin-top: 66px;
    font-size: 32px;
    line-height: 40px;
  }

  .vacancy-page .text {
    width: 77%;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 30px;
  }

  .vacancy-page .description-text {
    width: 90%;
  }

  .vacancy-page .lists {
    margin-top: 18px;
    margin-bottom: 27px;
  }

  .vacancy-page .list {
    margin-left: 0;
  }

  .vacancy-page .list__title {
    line-height: 60px;
  }

  .vacancy-page .list:not(:last-child) {
    margin-bottom: 27px;
  }

  .vacancy-form__agreement p {
    width: 59%;
  }
}

@media screen and (max-width: 979px) {
  .vacancy-page__title.heading {
    width: calc(100% - 44px);
    margin: 36px 22px 26px;
    font-size: 22px;
    line-height: 26px;
  }

  .vacancy-page .text {
    margin: 0 22px 28px;
    font-size: 18px;
    line-height: 24px;
  }

  .vacancy-page .description-text {
    width: calc(100% - 44px);
    margin: 0 22px 30px;
  }

  .vacancy-page .lists {
    margin: 0 22px 35px;
  }

  .vacancy-page .lists .list {
    width: 100%;
    margin: 0;
  }

  .vacancy-page .lists .list:not(:last-child) {
    margin-bottom: 25px;
  }


  .vacancy-page .list__title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: unset;
  }
}
