.partners__title {
    margin: 79px 0 47px;
}

.partners__subtitle.heading {
    margin-bottom: 57px;
    line-height: unset;
}

.partners__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.partners__controls {
    display: none;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .partners__header.container-sm {
        width: 90%;
    }

    .partners__title.heading {
        margin-top: 26px;
        margin-bottom: 0;
        font-size: 32px;
        line-height: 66px;
    }

    .partners__subtitle.heading {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 37px;
    }

    .partners__items {
        grid-template-columns: repeat(3, 1fr);
        width: 94%;
    }

    .partner-item__description {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .container-sm {
        width: 100%;
    }

    .partners__title.heading {
        margin: 34px 22px 18px;
        font-size: 22px;
        line-height: unset;
    }

    .partners__subtitle.heading {
        margin: 0 22px 33px;
        font-size: 18px;
    }

    .partners__items {
        width: calc(100% - 44px);
        height: max-content;
        margin: 0 22px;
    }

    .partners__items .partner-item {
        width: calc(100% - 44px);
        margin: 0 0 30px;
    }

    .partners__controls {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 11px;
        width: max-content;
        margin: 0 22px 0 auto;
    }

    .partners__controls:not(:last-child) {
        margin-bottom: 40px;
    }
}