include ../../components/header/index.pug
include ../../components/top-banner/index.pug
include ../../components/question/index.pug
include ../../components/heading/index.pug
include ../../components/teammate/index.pug
include ../../components/partner-item/index.pug
include ../../components/footer/index.pug
include ../../components/arrow-button/index.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Партнеры
  body
    +header({menu: [
      {
        text: 'Пробиотики',
        href: './',
        active: true
      },
      {
        text: 'Вакцина Гепатита А',
        href: './',
        active: false
      },
      {
        text: 'Ингредиенты',
        href: './',
        active: false
      },
      {
        text: 'Контрактное производство',
        href: './',
        active: false
      }
    ]})
    +top-banner({
      img: require('../../assets/img/team-bg.png'), 
      items: [
        {
          text: 'Главная',
          link: './'
        },
        {
          text: 'О компании',
          link: './about.html'
        },
        {
          text: 'Команда',
          link: './team.html'
        }
      ],
      title: 'О компании',
      menu: [
        {
          text: 'КОМПАНИЯ СЕГОДНЯ',
          link: './'
        },
        {
          text: 'ИСТОРИЯ',
          link: './'
        },
        {
          text: 'команда',
          link: './',
        },
        {
          text: 'достижения',
          link: './'
        },
        {
          text: 'партнеры',
          link: './',
          active: true
        },
        {
          text: 'Научно-производственный потенциал компании',
          link: './'
        },
        {
          text: 'социальная ответственность',
          link: './'
        },
        {
          text: 'Работа в наукограде Кольцово',
          link: './'
        }
      ],
      hidden: true
    })
    main
      .container-sm
        +heading({tag: 'h1', className: 'partners__title', level: 2})
          | Партнеры

        +heading({tag: 'h2', className: 'partners__subtitle', level: 3})
          | Производственные компании

      .partners__items.container.js-partners-items
        div
          +partner-item('ЗАО Племзавод «Ирмень»')
        div
          +partner-item('Барнаульский молочный комбинат')
        div
          +partner-item('SPLAT')
        div
          +partner-item('SPLAT')

      .partners__controls
        +arrow-button({direction: 'left', className: 'js-partners-prev'})
        +arrow-button({direction: 'right', className: 'js-partners-next'})

      .container-sm
        +heading({tag: 'h2', className: 'partners__subtitle', level: 3})
          | Органы власти
      
      .partners__items.container.js-partners-items
        div
          +partner-item('ЗАО Племзавод «Ирмень»')
        div
          +partner-item('Барнаульский молочный комбинат')
        div
          +partner-item('SPLAT')
        div
          +partner-item('SPLAT')

      .partners__controls
        +arrow-button({direction: 'left', className: 'js-partners-prev'})
        +arrow-button({direction: 'right', className: 'js-partners-next'})

      .container-sm
        +heading({tag: 'h2', className: 'partners__subtitle', level: 3})
          | Медицинские организации
      
      .partners__items.container.js-partners-items
        div
          +partner-item('ЗАО Племзавод «Ирмень»')
        div
          +partner-item('Барнаульский молочный комбинат')
      
      .partners__controls
        +arrow-button({direction: 'left', className: 'js-partners-prev'})
        +arrow-button({direction: 'right', className: 'js-partners-next'})

      .container-sm
        +heading({tag: 'h2', className: 'partners__subtitle', level: 3})
          | Прочие организации

      .partners__items.container.js-partners-items
        div
          +partner-item('ЗАО Племзавод «Ирмень»')
        div
          +partner-item('Барнаульский молочный комбинат')
        div
          +partner-item('SPLAT')
        div
          +partner-item('SPLAT')
        div
          +partner-item('SPLAT')

      .partners__controls
        +arrow-button({direction: 'left', className: 'js-partners-prev'})
        +arrow-button({direction: 'right', className: 'js-partners-next'})

      .container-sm
        +heading({tag: 'h2', className: 'partners__subtitle', level: 3})
          | Сми

      .partners__items.container.js-partners-items
        div
          +partner-item('ЗАО Племзавод «Ирмень»')
        div
          +partner-item('Барнаульский молочный комбинат')

      .partners__controls
        +arrow-button({direction: 'left', className: 'js-partners-prev'})
        +arrow-button({direction: 'right', className: 'js-partners-next'})

      +question()
    +footer()