.photo-video__content {

}

.photo-video__title {
    margin: 70px 0 0;
}

.photo-video__tabs {
    color: #7997af;
    font-family: 'UM', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 66px;
    text-transform: uppercase;
}

.photo-video__tabs a:not(:last-child) {
    margin-right: 25px;
}

.photo-video__tabs .active {
    color: #0e7dd5;
}

.photo-video__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 51px;
    width: 1170px;
    margin: 0 auto 69px;
}

.photo-video__pagination {
    display: flex;
    width: max-content;
    margin: 69px auto 67px;
    color: #2c343c;
    font-family: 'UM', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.photo-video__pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin: 0 5px;
}

.photo-video__pagination a.active {
    border: 1px solid rgba(14, 125, 213, .3);
    color: #0e7dd5;
}

.media-popup-video,
.media-popup-photo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 24, 37, .77);
}

.media-popup-video__content,
.media-popup-photo__content {
    position: relative;
}

.media-popup-photo__content {
    position: relative;
    width: 971px;
    height: 743px;
}

.media-popup-video__content iframe {
    width: 971px;
    height: 605px;
}

.media-popup-video__close,
.media-popup-photo__close {
    position: absolute;
    top: -46px;
    right: 0;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, .3);
}

.media-popup-photo__originals {
    margin-bottom: 24px;
}

.media-popup-photo__originals .original {
    width: 971px;
    height: 604px;
    object-fit: cover;
}

.media-popup-photo__thumbnails .thumbnail {
    width: 170px;
    height: 115px;
    object-fit: cover;
    margin: 0 auto;
}

.media-popup-photo__next,
.media-popup-photo__prev {
    position: absolute;
    top: 306px;
    left: -99px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border: 1px solid rgba(54, 132, 242, .3);
}

.media-popup-photo__next {
    left: unset;
    right: -99px;
}

.media-popup-photo__next:active,
.media-popup-photo__prev:active {
    border-width: 2px;
    border-color: #3684f2;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .media-popup-photo__content {
        width: 823px;
        height: 391px;
    }

    .media-popup-photo__content .original {
        width: 823px;
        height: 391px;
    }

    .media-popup-video__content iframe {
        width: 950px;
        height: 425px;
    }

    .photo-video__title.heading {
        margin: 52px 0 0;
        font-size: 42px;
        height: 66px;
    }

    .photo-video__items {
        grid-column-gap: 25px;
        width: 950px;
        margin-bottom: 0;
    }

    .photo-video__tabs {
        margin-bottom: 20px;
        line-height: 43px;
    }

    .photo-video__content {
        width: 790px;
    }

    .photo-video__tabs a:not(:last-child) {
        margin-right: 58px;
    }

    .photo-video__pagination {
        margin: 40px auto;
    }
}

@media screen and (max-width: 768px) {
    .photo-video__content {
        width: 100%;
    }

    .photo-video__items {
        grid-template-columns: 1fr;
        width: calc(100% - 44px);
        margin-bottom: 0;
    }

    .photo-video__title.heading {
        margin: 30px 22px 23px;
        font-size: 22px;
        line-height: unset;
    }

    .photo-video__tabs {
        line-height: unset;
        margin: 0 22px 21px;
    }

    .photo-video__pagination {
        margin: 23px auto 34px;
    }

    .media-popup-photo__content {
        width: 100%;
        height: unset;
    }

    .media-popup-photo__originals .original {
        width: calc(100% - 44px);
        height: 60vh;
        margin: 0 22px;
    }

    .media-popup-photo__next,
    .media-popup-photo__prev {
        display: none;
    }

    .media-popup-photo__content .slick-dots {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 15px;
        width: max-content;
        margin: 0 auto;
    }

    .media-popup-photo__content .slick-dots li {
        width: 6px;
        height: 6px;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 50%;
    }

    .media-popup-photo__content .slick-dots li.slick-active {
        background-color: #0e7dd5;
    }

    .media-popup-photo__content .slick-dots li button::before {
        display: none;
    }

    .media-popup-video__content {
        width: calc(100% - 44px);
    }

    .media-popup-video__content iframe {
        width: 100%;
        height: 60vh;
    }
}

@media screen and (max-width: 414px) {
    .photo-video__items {
        width: max-content;
        margin: 0 auto;
    }

    .media-popup-photo__originals .original {
        width: 266px;
        height: 161px;
        margin: 0 auto;
    }

    .media-popup-video__close, 
    .media-popup-photo__close {
        position: fixed;
        top: 22px;
        right: 25px;
    }
}