.photo-video__content {

}

.photo-video__title {
    margin: 70px 0 0;
}

.photo-video__tabs {
    color: #0e7dd5;
    font-family: 'UM', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 66px;
    text-transform: uppercase;
}

.photo-video__tabs a:not(:last-child) {
    margin-right: 25px;
}

.photo-video__tabs .active {
    color: #7997af;
}

.photo-video__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 51px;
    width: 1170px;
    margin: 0 auto 69px;
}

.photo-video__pagination {
    display: flex;
    width: max-content;
    margin: 69px auto 67px;
    color: #2c343c;
    font-family: 'UM', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.photo-video__pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin: 0 5px;
}

.photo-video__pagination a.active {
    border: 1px solid rgba(14, 125, 213, .3);
    color: #0e7dd5;
}

.media-popup-video,
.media-popup-photo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 24, 37, .77);
}

.media-popup-video__content,
.media-popup-photo__content {
    position: relative;
}

.media-popup-photo__content {
    position: relative;
    width: 971px;
    height: 743px;
}

.media-popup-video__content iframe {
    width: 971px;
    height: 605px;
}

.media-popup-video__close,
.media-popup-photo__close {
    position: absolute;
    top: -46px;
    right: 0;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, .3);
}

.media-popup-photo__originals {
    margin-bottom: 24px;
}

.media-popup-photo__originals .original {
    width: 971px;
    height: 604px;
    object-fit: cover;
}

.media-popup-photo__thumbnails .thumbnail {
    width: 170px;
    height: 115px;
    object-fit: cover;
    margin: 0 auto;
}

.media-popup-photo__next,
.media-popup-photo__prev {
    position: absolute;
    top: 306px;
    left: -99px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border: 1px solid rgba(54, 132, 242, .3);
}

.media-popup-photo__next {
    left: unset;
    right: -99px;
}

.media-popup-photo__next:active,
.media-popup-photo__prev:active {
    border-width: 2px;
    border-color: #3684f2;
}