include ../../components/header/index.pug
include ../../components/top-banner/index.pug
include ../../components/heading/index.pug
include ../../components/question/index.pug
include ../../components/media-item/index.pug
include ../../components/footer/index.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Фото/Видео
  body
    +header({menu: [
      {
        text: 'Пробиотики',
        href: './',
        active: true
      },
      {
        text: 'Вакцина Гепатита А',
        href: './',
        active: false
      },
      {
        text: 'Ингредиенты',
        href: './',
        active: false
      },
      {
        text: 'Контрактное производство',
        href: './',
        active: false
      }
    ]})
    +top-banner({
      img: require('../../assets/img/team-bg.png'), 
      items: [
        {
          text: 'Главная',
          link: './'
        },
        {
          text: 'Медиа',
          link: './media.html'
        },
      ],
      title: 'Медиа',
      menu: [
        {
          text: 'Новости компании',
          link: './'
        },
        {
          text: 'Специалистам',
          link: './'
        },
        {
          text: 'Потребителю',
          link: './',
        },
        {
          text: 'Фото и Видео',
          link: './',
          active: true
        },
      ],
      hidden: true
    })
    main
      .container-sm.photo-video__content
        +heading({tag: 'h2', className: 'photo-video__title', level: 2})
          | Фото и видео

        .photo-video__tabs
          a(href="./").active Все
          a(href="./") Фото
          a(href="./") Видео

      .photo-video__items
        +media-item(require('../../assets/img/media-1.png'), '20.09.2019', 'День открытых дверей для врачей и фармацевтов', 'img', '_', {
          originals: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ],
          thumbnails: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ]
        })
        +media-item(require('../../assets/img/media-2.png'), '20.09.2019', 'Международный форум технологического развития', 'img', '_', {
          originals: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ],
          thumbnails: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ]
        })
        +media-item(require('../../assets/img/media-3.png'), '20.09.2019', 'Международный форум технологического развития', 'video', 'https://www.youtube.com/embed/SsCbKPJvmH4')
        +media-item(require('../../assets/img/media-4.png'), '20.09.2019', 'День открытых дверей для врачей и фармацевтов', 'video', 'https://www.youtube.com/embed/SsCbKPJvmH4')
        +media-item(require('../../assets/img/media-1.png'), '20.09.2019', 'Международный форум технологического развития', 'img', '_', {
          originals: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ],
          thumbnails: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ]
        })
        +media-item(require('../../assets/img/media-2.png'), '20.09.2019', 'Международный форум технологического развития', 'img', '_', {
          originals: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ],
          thumbnails: [
            'https://m.jagranjosh.com/imported/images/E/Articles/Important-Topics-for-CBSE-Class-11-Biology-Exam-Body_Images.jpg',
            'https://images.tmcnet.com/tmc/misc/articles/image/2019-dec/5367410656-dna-3598439_960_720.jpg',
            'https://12ax7web.s3.amazonaws.com/accounts/1/products/imported/biology-is-life-teeturtle-1000x1000.jpg',
            'https://www.minhajcollege.ac.uk/wp-content/uploads/2017/10/ALevel-Biology-1170x560.jpg',
            'https://media.springernature.com/w580h326/nature-cms/uploads/collections/SREP_Top100_Cell_Biology-704227db51017370e5f54d5ea182fb37_new-1b7972a20c72ac36d73bdae7bb4d3854.jpg',
            'https://www.york.ac.uk/media/study/courses/undergraduate/biology/mol-cell-biol-mbiol-banner.jpg'
          ]
        })

      .photo-video__pagination
        a(href="./").active 1
        a(href="./") 2
        a(href="./") 3

      +question()
    +footer()
    