.header-container {
    position: fixed;
    top: 27px;
    width: 1202px;
    left: 50%;
    margin-left: -601px;
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    width: 1202px;
    height: 80px;
    padding-left: 27px;
    box-shadow: 0 0 51px rgba(176, 202, 253, 0.24);
    background-color: #c2222e;
}

.header__logo {
    margin-right: 59px;
}

.header__menu {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 22px;
    margin-top: -4px;
    margin-right: 40px;
    color: #eaa7ad;
    font-family: 'UM', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.header__menu a:hover {
    color: #f6cdd0;
}

.header__menu a:active {
    color: #fff;
}

.header__menu-btn {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-left: auto;
    background-color: #d25142;
    cursor: pointer;
}

.header__menu-btn img {
    width: 26px;
    height: 26px;
}

.header__menu-btn img:last-child {
    display: none;
}

.header__menu-btn.expanded img:first-child {
    display: none;
}

.header__menu-btn.expanded img:last-child {
    display: block;
}

.header__search {
    position: absolute;
    top: 23px;
    left: 317px;
    display: none;
}

.header__search input {
    width: 750px;
    height: 31px;
    padding: 0 50px;
    background-color: #b11f2a;
    border: none;
    color: #fff;
}

.header__search .search__submit {
    position: absolute;
    top: 6px;
    left: 16px;
}

.header__search .search__close {
    position: absolute;
    top: 9px;
    right: 16px;
    filter: invert(1);
}

.header.search-is-open .header__search {
    display: flex;
}

.header__main-menu.hidden {
    display: none;
}

.header__main-menu {
    display: grid;
    grid-template-columns: repeat(2, 322px);
    grid-column-gap: 193px;
    width: 1203px;
    height: 556px;
    padding: 72px 84px 84px;
    background-image: url('../../assets/img/header-menu-bg.png');
    background-size: cover;
    color: #ffffff;
    font-family: 'UM', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: unset;
}

.header__main-menu .socials {
    margin-top: 65px;
}

.header__main-menu .left, 
.header__main-menu .right {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 52px;
    height: max-content;
}

.header__main-menu .left .phones {
    font-size: 16px;
}

.header__main-menu .left .phones a:first-child {
    margin-right: 56px;
}

@media screen and (max-width: 768px) {
    .header,
    .header-container {
        width: 100%;
        height: 65px;
    }

    .header-container {
        top: 0;
        left: unset;
        right: 0;
    }

    .header__menu {
        display: none;
    }

    .header__menu-btn {
        width: 65px;
        height: 65px;
        margin-left: 22px;
    }

    .header__menu-btn img {
        width: 20px;
        height: 24px;
    }

    .header__logo img {
        width: 163px;
        height: 15px;
    }

    .header__search-btn svg {
        width: 23px;
        height: 23px;
    }

    .header__search {
        top: 18px;
        left: 22px;
    }

    .header__search input {
        width: 660px;
    }

    .header__logo {
        margin-right: auto;
    }

    .header__main-menu {
        position: relative;
        width: 100%;
        height: calc(100vh - 65px);
        grid-template-columns: 1fr;
        overflow-y: auto;
        padding: 38px 28px;
        font-size: 20px;
    }

    .header__main-menu .left, 
    .header__main-menu .right {
        grid-row-gap: 33px;
    }

    .header__main-menu .left {
        margin-bottom: 33px;
    }

    .header__main-menu .left .phones {
        position: absolute;
        bottom: -152px;
        left: 28px;
        display: grid;
        grid-row-gap: 27px;
    }

    .header__main-menu .socials {
        margin: 161px auto 53px;
    }

    .header__main-menu .socials .socials__link {
        width: 63px;
        height: 63px;
    }
}

@media screen and (max-width: 414px) {
    .header__search input {
        width: 310px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        margin-right: 25px;
    }

    .header__search input {
        width: 220px;
    }
}