.probiotics__title {
    margin: 75px 0 35px;
}

.probiotics strong {
    display: block;
    margin-bottom: 46px;
    color: #24313a;
    font-family: 'UR', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

.probiotics .list {
    width: 583px;
    margin-left: auto;
}

.probiotics .list__title {
    margin-bottom: 23px;
    color: #0e7dd5;
    font-family: 'UR', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: unset;
}

.probiotics .list__items {
    margin-bottom: 46px;
    color: #24313a;
    font-family: 'UR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.probiotics .list__items li {
    position: relative;
    padding-left: 21px;
}

.probiotics .list__items li::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 8px;
    height: 1px;
    background-color: #0e7dd5;
}

.probiotics p {
    margin-bottom: 69px;
    color: #24313a;
    font-family: 'UR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.probiotics h3 {
    margin-bottom: 33px;
    color: #24313a;
    font-family: 'UM', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: unset;
}

.probiotics .slide__description {
    margin-bottom: 0;
}

.probiotics .photo-slider {
    margin-bottom: 44px;
}

.probiotics blockquote {
    width: 577px;
    margin: 0 auto 72px;
    padding-left: 40px;
    color: #26333c;
    font-family: 'ULI', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    border-left: 1px solid #0e7dd5;
}

.probiotics .accordion {
    margin-bottom: 59px;
}

.probiotics__documents {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 45px;
    grid-row-gap: 20px;
    align-items: flex-start;
    margin-bottom: 90px;
}

.probiotics .document-link {
    display: flex;
    align-items: flex-start;
    max-width: 258px;
}

.probiotics .document-link .link {
    line-height: unset;
}

.probiotics .document-link svg {
    min-width: 13px;
    height: 18px;
    margin-right: 18px;
}

.probiotics__partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-bottom: 82px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .probiotics .container-sm {
        width: 790px;
    }

    .probiotics__title.heading {
        margin: 32px 0 9px;
        font-size: 32px;
        line-height: 66px;
    }

    .probiotics strong {
        width: 82%;
        font-size: 22px;
        line-height: 28px;
    }

    .probiotics .list {
        width: 666px;
        margin-left: 0;
    }

    .probiotics .list__title {
        margin-bottom: 16px;
    }

    .probiotics .list__items {
        margin-bottom: 32px;
    }

    .probiotics p {
        width: 87%;
        margin-bottom: 52px;
    }

    .probiotics h3 {
        font-size: 18px;
    }

    .probiotics .photo-slider .slide__img {
        width: 707px;
        height: 450px;
    }

    .probiotics .photo-slider .slide__description {
        width: 707px;
        height: 130px;
        padding: 0 173px 0 44px
    }

    .probiotics .photo-slider__controls {
        bottom: 48px;
        right: 109px;
    }

    .probiotics .photo-slider {
        margin-bottom: 52px;
    }

    .probiotics blockquote {
        margin-bottom: 52px;
        margin-left: 85px;
        padding-left: 32px;
        font-size: 22px;
        line-height: 30px;
    }

    .probiotics .accordion {
        width: 707px;
    }

    .probiotics .accordion-item__description {
        padding-left: 82px;
    }

    .probiotics .accordion-item__title {
        font-size: 16px;
    }

    .probiotics .accordion-item__header {
        padding: 15px 11px 10px 18px;
    }
}

@media screen and (max-width: 768px) {
    .probiotics__title.heading {
        margin: 34px 22px 23px;
        font-size: 22px;
        line-height: unset;
    }
    .probiotics strong {
        margin: 0 22px 26px;
        font-size: 18px;
        line-height: 24px;
    }
    .probiotics .list {
        width: calc(100% - 44px);
        margin: 0 22px 31px;
    }
    .probiotics .list__title {
        margin: 0 0 19px;
        font-size: 18px;
    }
    .probiotics p {
        margin: 0 22px 28px;
        font-size: 16px;
        line-height: 26px;
    }
    .probiotics h3 {
        margin: 0 22px 16px;
        font-size: 18px;
    }
    .probiotics .photo-slider {
        margin: 0 22px 34px;
    }
    .probiotics .slide__description {
        height: max-content;
        margin: 0;
        padding: 20px 38px 100px 15px;
    }
    .probiotics blockquote {
        width: calc(100% - 44px);
        margin-bottom: 24px;
        padding-left: 25px;
        font-size: 24px;
    }
    .probiotics__documents {
        grid-template-columns: 1fr;
        width: calc(100% - 44px);
        margin: 0 22px 38px;
    }
    .probiotics .document-link {
        width: 100%;
        max-width: unset;
    }
    .probiotics__partners {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 36px;
        grid-row-gap: 27px;
        width: max-content;
        margin: 0 22px 38px;
    }
    .probiotics__partners .partner-logo img {
        max-width: 119px;
        max-height: 50px;
    }
}