include ../../components/header/index.pug
include ../../components/top-banner/index.pug
include ../../components/question/index.pug
include ../../components/heading/index.pug
include ../../components/photo-slider/index.pug
include ../../components/accordion/index.pug
include ../../components/footer/index.pug
include ../../components/link/index.pug
include ../../components/partner-logo/index.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Пробиотики
  body
    +header({menu: [
      {
        text: 'Пробиотики',
        href: './',
        active: true
      },
      {
        text: 'Вакцина Гепатита А',
        href: './',
        active: false
      },
      {
        text: 'Ингредиенты',
        href: './',
        active: false
      },
      {
        text: 'Контрактное производство',
        href: './',
        active: false
      }
    ]})
    +top-banner({
      img: require('../../assets/img/probiotics-bg.png'),
      items: [
        {
          text: 'Главная',
          link: './'
        },
        {
          text: 'Пробиотики',
          link: './probiotics.html'
        },
      ],
      title: 'Пробиотики',
      menu: [
        {
          text: 'О ПРОБИОТИКАХ',
          link: './',
          active: true
        },
        {
          text: 'Комплекс Экофлор, Трилакт, Бифидум',
          link: './'
        },
        {
          text: 'Натрилак',
          link: './',
        },
        {
          text: 'Пробиофлор',
          link: './'
        },
        {
          text: 'Кисломолочные продукты',
          link: './'
        },
        {
          text: 'Закваски для домашнего приготовления ',
          link: './'
        },
      ],
      hidden: true
    })
    main
      .probiotics
        .container-sm
          +heading({tag: 'h2', level: 2, className: 'probiotics__title'})
            | О пробиотиках

          strong АО «Вектор-БиАльгам» выпускает комплекс пробиотиков с бифидо- и лактобактериями: «Экофлор» (препарат включает в себя мощный энтеросорбент), «Трилакт» и «Бифидум БАГ» 

          .list
            p.list__title Пробиотики предназначены:
            ul.list__items
              li Для коррекции нормофлоры пр
              li Для коррекции нормофлоры при дисбактериозе кишечника;
              li Для защиты и восстановления микрофлоры во время и после проведения антибактериальной, лучевой терапии, химиотерапии, гормональной терапии;
              li В комплексной терапии кишечных инфекций;
              li В гастроэнтерологии в комплексном лечении хронических заболеваний ЖКТ (гастриты, колиты, дуодениты, язвенная болезнь желудка и двенадцатиперстной кишки, болезнь крона) и печени;
              li В педиатрии — помощь в становлении микрофлоры у детей первого года жизни, профилактика и лечение атопического дерматита, рахита, железодефицитной анемии, нормализация работы кишечника, адаптация ребёнка к ДДУ и школе и т.д.;
              li Женщинам в период беременности для восстановления вагинальной флоры, улучшения работы кишечника, для профилактики манифестации воспалительных заболеваний мочеполовой системы, при вероятности абдоминального родоразрешения и т.д;
              li В гинекологии в комплексном лечении воспалительных заболеваний, бактериального вагиноза, бесплодия;
              li В аллергологии;
              li В лечении гиповитаминозов и дисэлементозов у детей и взрослых;
              li В комплексной терапии иммунодефицитов, для повышения резистентности организма к респираторным инфекциям.и дисбактериозе кишечника;
      
          p Мы рады сотрудничать с дилерами по продаже нашей продукции в Новосибирске, Кемерово, Барнауле, Томске, Нижневартовске и других городах Сибири и России.

          h3 Производство пробиотиков

          +photo-slider([
            {
              img: require('../../assets/img/probiotics-photo-slide.png'),
              text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов'
            },
            {
              img: require('../../assets/img/probiotics-photo-slide.png'),
              text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов'
            },
            {
              img: require('../../assets/img/probiotics-photo-slide.png'),
              text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов'
            },
          ])

          p Мы рады сотрудничать с дилерами по продаже нашей продукции в Новосибирске, Кемерово, Барнауле, Томске, Нижневартовске и других городах Сибири и России.

          blockquote «Вектор-БиАльгам» - одно из первых предприятий научного центра, которому удалось направить фундаментальные знания».

          h3 О пробиотиках

          +accordion([
            {
              title: 'Пробиотики предназначены',
              text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
              expanded: false,
            },
            {
              title: 'Наиболее частые и известные причины дисбактериоза',
              text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
              expanded: false,
            },
            {
              title: 'Лабораторность художественной культуры имеет классический реализм',
              text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
              expanded: true,
            },
            {
              title: 'В комплексной терапии кишечных инфекций',
              text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
              expanded: false,
            }
          ])

          p АО «Вектор-БиАльгам» выпускает комплекс пробиотиков с бифидо- и лактобактериями: «Экофлор» (препарат включает в себя мощный энтеросорбент), «Трилакт» и «Бифидум БАГ» (содержат жидкие бифидо- и лактобактерии), капсулированные пробиотики серии "Пробиофлор", а также биопродукт «НариЛак-Форте-В». Эти пробиотические препараты могут использоваться в разных областях медицины для профилактики и комплексного лечения многих заболеваний.

          h3 Документы

          p АО «Вектор-БиАльгам» выпускает комплекс пробиотиков 

          .probiotics__documents
            .document-link
              svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
                path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
              +link({href: './'})
                | Сертификат НАССР
            .document-link
              svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
                path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
              +link({href: './'})
                | Брошюра "Комплексный подход к восстановлению микрофлоры"
            .document-link
              svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
                path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
              +link({href: './'})
                | Дисбактериоз и аллергия
            .document-link
              svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
                path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
              +link({href: './'})
                | Сертификат НАССР
            .document-link
              svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
                path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
              +link({href: './'})
                | Фитнес и пробиотики
            .document-link
              svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
                path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
              +link({href: './'})
                | Откуда брать витамины и как обеспечить их усвоение?

          h3 Партнеры

          .probiotics__partners
            +partner-logo({img: require('../../assets/img/partner-logo.png')})
            +partner-logo({img: require('../../assets/img/partner-logo.png')})
            +partner-logo({img: require('../../assets/img/partner-logo.png')})
            +partner-logo({img: require('../../assets/img/partner-logo.png')})
            +partner-logo({img: require('../../assets/img/partner-logo.png')})
            +partner-logo({img: require('../../assets/img/partner-logo.png')})
            +partner-logo({img: require('../../assets/img/partner-logo.png')})
            +partner-logo({img: require('../../assets/img/partner-logo.png')})

      +question()
    +footer()
