mixin arrow-button({direction, className})
    button(class=`arrow-button ${className ? className : ''}`)
        if (direction === 'left')
            img(src=require('../../assets/img/arrow-left.png'), alt="left")
        else
            img(src=require('../../assets/img/arrow-right.png'), alt="right")
        