include ../bread-crumbs/index.pug

mixin top-banner({img, items, title})
    section.top-banner
        img(src= img, alt="Banner").top-banner__img
        .top-banner__content
            +bread-crumbs({items})
            .top-banner__title= title