include ../bread-crumbs/index.pug

mixin top-banner({img, items, title, menu, hidden=false})
  section(class=`top-banner ${hidden ? 'hidden' : ''}`)
    img(src= img, alt="Banner").top-banner__img
    .top-banner__content
      +bread-crumbs({items})
      .top-banner__title= title
    .top-banner__menu
      each item in menu
        a(href= item.link class=`${item.active ? 'active' : ''}`)= item.text