.achivements__header {
    width: 80%;
    margin: 79px auto 0;
}

.achivements__title {
    margin-bottom: 32px;
}

.achivements__tabs {
    margin-bottom: 64px;
}

.achivements__tabs a {
    color: #7997af;
    font-family: 'UM', sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.achivements__tabs a:not(:last-child) {
    margin-right: 25px;
}

.achivements__tabs a.active {
    color: #0e7dd5;
}

.achivements__items {
    display: flex;
    flex-wrap: wrap;
}

.achivements__items .certificate:not(:last-child) {
    margin-right: 128px;
    margin-bottom: 66px;
}

.achivements__pagination {
    display: flex;
    width: max-content;
    margin: 52px auto 90px;
    color: #2c343c;
    font-family: 'UM', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.achivements__pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin: 0 5px;
}

.achivements__pagination a.active {
    border: 1px solid rgba(14, 125, 213, .3);
    color: #0e7dd5;
}