.main-expert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/main-expert.png');
    background-size: cover;
    background-position: 0 50%;
}

.main-expert__inner-container {
    height: 478px;
}

.main-expert__title {
    margin-left: 10px;
    margin-bottom: 37px;
}

.main-expert__hightlighted-text {
    width: 39%;
    margin-left: 82px;
    margin-bottom: 60px;
}

.main-expert__name.heading {
    margin-left: 83px;
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 24px;
}

.main-expert__position {
    margin-left: 85px;
    color: #3c84cc;
    font-family: 'UM', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

@media screen and (max-width: 1240px) and (min-width: 768px) {
    .main-expert {
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .main-expert__inner-container {
        width: 700px;
        margin-top: 106px;
    }

    .main-expert__title.heading {
        margin-bottom: 13px;
        font-size: 40px;
        line-height: 90px;
    }

    .main-expert__hightlighted-text {
        width: 57%;
        margin-bottom: 46px;
        margin-left: 12px;
        font-size: 22px;
        line-height: 30px;
    }

    .main-expert__position,
    .main-expert__name.heading {
        margin-left: 0;
    }

    .main-expert__position,
    .main-expert__name.heading {
        margin-left: 11px;
    }
}

@media screen and (max-width: 767px) {
    .main-expert__hightlighted-text {
        width: 83%;
    }

    .main-expert {
        justify-content: flex-start;
        height: 745px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-color: #eff1f2;
        background-size: 320px;
        background-image: url('../../assets/img/teammate.png');
    }

    .main-expert__inner-container {
        height: 745px;
    }

    .main-expert__title.heading {
        margin-top: 55px;
        margin-left: 22px;
        margin-bottom: 28px;
        font-size: 32px;
        line-height: unset;
    }

    .main-expert__hightlighted-text {
        margin-left: 22px;
        margin-bottom: 42px;
        font-size: 18px;
        line-height: 26px;
    }

    .main-expert__name.heading {
        margin-left: 22px;
        margin-bottom: 16px;
    }

    .main-expert__position {
        margin-left: 22px;
        line-height: unset;
    }
}

@media screen and (max-width: 414px) {
    .main-expert__hightlighted-text {
        width: calc(100% - 44px);
    }
}