include ../heading/index.pug
include ../hightlighted-text/index.pug

mixin main-expert(className)
  section(class=`main-expert section ${className ? className : ''}`)
    .container.main-expert__inner-container
      +heading({tag: 'h2', level: 1, className: 'main-expert__title fadeInLeft animated delay-1s slow'})
        | Слово эксперта
      +hightlighted-text({className: 'main-expert__hightlighted-text fadeInLeft animated delay-button slow'})
        | «Вектор-БиАльгам» - одно из первых предприятий научного центра, которому удалось направить фундаментальные знания».
      +heading({tag: 'h3', level: 3, className: 'main-expert__name fadeInLeft animated delay-2s slow'})
        | Никулин Леонид Георгиевич
      .main-expert__position.fadeInLeft.delay-2s.animated.slow генеральный директор