.text-page {
  width: 769px;
  margin: 60px auto 102px;
}

.text-page .accordion {
  margin-top: 51px;
}

.text-page__title {
  margin-bottom: 15px;
}

.text-page__subtitle {
  margin-top: 45px;
  margin-bottom: 14px;
}

.text-page .photo-slider {
  margin-bottom: 50px;
}

.text-page__text-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin-top: 57px;
}

.text-page__menu-links {
  display: flex;
  justify-content: space-between;
  width: 478px;
  margin-top: 14px;
}

.text-page__list {
  width: 668px;
  margin-left: auto;
  margin-bottom: 54px;
  margin-top: 20px;
}

.text-page__list .list__title {
  margin-bottom: 17px;
  color: #24313a;
  font-family: 'UM', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.text-page__list .list__items {
  padding-left: 21px;
  color: #24313a;
  font-family: 'UR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.text-page__list .list__items li {
  position: relative;

}

.text-page__list .list__items li::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -21px;
  width: 8px;
  height: 1px;
  background-color: #0e7dd5;
}

.text-page__quote {
  width: 668px;
  margin: 76px 0 71px auto;
  padding-left: 43px;
  border-left: 3px solid #0e7dd5;
}

.text-page__quote .info {
  margin-left: 39px;
}

.text-page__quote .quote__value {
  font-family: 'ULI', sans-serif;
  margin-bottom: 31px;
}

.text-page__quote .quote__owner {
  display: flex;
  align-items: center;
}

.text-page__quote .owner__name {
  margin-bottom: 9px;
  line-height: unset;
}

.text-page__quote .owner__position {
  color: #3c84cc;
  font-family: 'UM', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.text-page__documents {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 45px;
  grid-row-gap: 20px;
  align-items: flex-start;
  margin: 71px 0 59px;
}

.text-page__documents .document-link {
  display: flex;
  align-items: flex-start;
  max-width: 258px;
}

.text-page__documents .document-link .link {
  line-height: unset;
}

.text-page__documents .document-link svg {
  min-width: 13px;
  height: 18px;
  margin-right: 18px;
}

.text-page__table .table {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.text-page__table .table .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 14px 20px 15px;
}

.text-page__table .table .row {
  color: #59646c;
  font-family: 'UR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.text-page__table .table .row:nth-child(2n + 1) {
  background-color: #f0f4f9;
}

.text-page__table .table .row.head {
  color: #24313a;
  font-family: 'UM', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.text-page__partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 52px;
}

@media screen and (max-width: 1240px) and (min-width: 768px) {
  .text-page {
    width: 700px;
    margin-top: 32px;
  }

  .text-page__title.heading {
    font-size: 32px;
    line-height: 66px;
  }

  .text-page .text {
    width: 76%;
    font-size: 22px;
    line-height: 28px;
  }

  .text-page__list {
    width: 600px;
    margin-top: 0;
    margin-left: 83px;
  }

  .text-page__subtitle.heading {
    font-size: 18px;
    line-height: 66px;
  }

  .text-page .photo-slider {
    margin-bottom: 28px;
  }

  .text-page .photo-slider .slide__img {
    width: 707px;
    height: 452px;
  }

  .text-page .photo-slider .slide__description {
    width: 707px;
    height: 126px;
    padding: 22px 180px 0 42px;
  }

  .text-page .photo-slider__controls {
    bottom: 50px;
    right: 32px;
  }

  .text-page__quote {
    margin: 55px 0 60px 32px;
    padding-left: 52px;
  }

  .text-page__quote .quote__value {
    margin-top: -8px;
    font-size: 22px;
    line-height: 30px;
  }

  .text-page .accordion {
    width: 707px;
  }

  .text-page .accordion-item__header {
    padding: 15px 10px 12px 19px;
  }

  .text-page .accordion-item__description {
    padding: 5px 25px 41px 83px;
  }

  .text-page .accordion-item__title {
    font-size: 16px;
  }

  .text-page__documents {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .text-page {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 38px;
  }

  .text-page__title.heading {
    width: calc(100% - 44px);
    margin: 0 22px 35px;
    font-size: 22px;
    line-height: unset;
  }

  .text {
    margin: 0 22px 27px;
    font-size: 18px;
    line-height: 24px;
  }

  .text-page__menu-links {
    margin: 0 22px 31px;
  }

  .text-page__menu-links .menu-link {
    line-height: unset;
  }

  .text-page__list {
    width: calc(100% - 44px);
    margin: 30px 22px;
  }

  .text-page__list .list__title {
    margin-bottom: 19px;
    font-size: 18px; 
  }

  .text-page__list .list__items li {
    font-size: 14px;
    line-height: 26px; 
  }

  .text-page .description-text {
    margin: 0 22px 30px;
  }

  .text-page__subtitle.heading {
    margin: 0 22px 16px;
    font-size: 18px;
    line-height: unset;
  }
  
  .text-page .photo-slider {
    width: calc(100% - 44px);
    margin: 0 22px 34px;
  }

  .text-page .photo-slider .slide__description {
    height: max-content;
    padding-bottom: 70px;
  }

  .text-page__quote {
    width: calc(100% - 44px);
    margin: 0 22px 27px;
    padding-left: 0;
    border-left: 0;
  }

  .text-page__quote .quote__value {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 26px;
  }

  .text-page__quote .quote__owner {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-page__quote .info {
    margin-left: 0;
    margin-top: 21px;
  }

  .text-page__quote .owner__name {
    margin-bottom: 0;
  }

  .text-page__documents {
    grid-template-columns: 1fr;
    width: calc(100% - 44px);
    margin: 0 22px 32px;
  }

  .text-page__documents .document-link {
    max-width: unset;
  }

  .text-page__table {
    width: 100%;
    padding-left: 22px;
    margin-bottom: 30px;
    overflow-x: auto;
  }
  
  .text-page__partners {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 30px;
    width: calc(100% - 44px);
    margin: 0 22px;
  }
}

@media screen and (max-width: 414px) {
  .text-page__menu-links {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow-x: auto;
  }

  .text-page__menu-links .menu-link {
    margin-right: 30px;
    white-space: nowrap;
  }

  .text-page__menu-links .menu-link:first-child {
    margin-left: 22px;
  }

  .text-page__menu-links .menu-link:last-child {
    padding-right: 22px;
  }

  .text-page__table .th,
  .text-page__table .td {
    min-width: 191px;
  }
}
