include ../../components/header/index.pug
include ../../components/top-banner/index.pug
include ../../components/heading/index.pug
include ../../components/menu-link/index.pug
include ../../components/question/index.pug
include ../../components/footer/index.pug
include ../../components/description-text/index.pug
include ../../components/photo-slider/index.pug
include ../../components/hightlighted-text/index.pug
include ../../components/accordion/index.pug
include ../../components/link/index.pug
include ../../components/partner-logo/index.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ингредиенты
  body
    +header({
      menu: [
        {
          text: 'Пробиотики',
          href: './',
          active: true
        },
        {
          text: 'Вакцина Гепатита А',
          href: './',
          active: false
        },
        {
          text: 'Ингредиенты',
          href: './',
          active: false
        },
        {
          text: 'Контрактное производство',
          href: './',
          active: false
        }
      ]
    })
    +top-banner({
      img: require('../../assets/img/team-bg.png'),
      items: [
        {
          text: 'Главная',
          link: './'
        },
        {
          text: 'Ингредиенты',
          link: './'
        },
      ],
      title: 'Ингредиенты',
      menu: [
        {
          text: 'Закваски для молочных заводов',
          link: './',
          active: true
        },
        {
          text: 'Биомасса пробиотических бактерий',
          link: './'
        },
        {
          text: 'ЛИЗАТЫ',
          link: './',
        },
      ],
      hidden: true
    })
    main
      .text-page
        +heading({tag: 'h2', className: 'text-page__title', level: 2})
          | Закваски для молочных заводов

        p.text Мы производим закваски для молочной промышленности с 2005 года. В нашем ассортименте есть закваски для производства традиционных.

        .text-page__menu-links
          +menu-link({href: './', active: true})
            | О наших заквасках         
          +menu-link({href: './'})
            | Структурообразующие   
          +menu-link({href: './'})
            | закваски

        .text-page__list
          .list
            .list__title Преимущества заквасок
            ul.list__items
              li Для коррекции нормофлоры пр
              li Для коррекции нормофлоры при дисбактериозе кишечника;
              li Для защиты и восстановления микрофлоры во время и после проведения антибактериальной, лучевой терапии, химиотерапии, гормональной терапии;
              li В комплексной терапии кишечных инфекций;
              li В гастроэнтерологии в комплексном лечении хронических заболеваний ЖКТ (гастриты, колиты, дуодениты, язвенная болезнь желудка и двенадцатиперстной кишки, болезнь крона) и печени;
              li В педиатрии — помощь в становлении микрофлоры у детей первого года жизни, профилактика и лечение атопического дерматита, рахита, железодефицитной анемии, нормализация работы кишечника, адаптация ребёнка к ДДУ и школе и т.д.;
              li Женщинам в период беременности для восстановления вагинальной флоры, улучшения работы кишечника, для профилактики манифестации воспалительных заболеваний мочеполовой системы, при вероятности абдоминального родоразрешения и т.д;
              li В гинекологии в комплексном лечении воспалительных заболеваний, бактериального вагиноза, бесплодия;
              li В аллергологии;
              li В лечении гиповитаминозов и дисэлементозов у детей и взрослых;
              li В комплексной терапии иммунодефицитов, для повышения резистентности организма к респираторным инфекциям.и дисбактериозе кишечника;

        +description-text({className: ''})
          | Лабораторность художественной культуры имеет классический реализм. Элегия, по определению, аккумулирует глубокий художественный талант, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Снижение, согласно традиционным представлениям, продолжает филогенез, так Г.Корф формулирует собственную антитезу. Эти слова совершенно справедливы, однако интерпретация вызывает миракль.

        +heading({tag: 'h3', className: 'text-page__subtitle', level: 3})
          | Производство пробиотиков

        +photo-slider([
          {
            img: require('../../assets/img/probiotics-photo-slide.png'),
            text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов'
          },
          {
            img: require('../../assets/img/probiotics-photo-slide.png'),
            text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов'
          },
          {
            img: require('../../assets/img/probiotics-photo-slide.png'),
            text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов'
          },
        ])

        +description-text({className: ''})
          | Мы рады сотрудничать с дилерами по продаже нашей продукции в Новосибирске, Кемерово, Барнауле, Томске, Нижневартовске и других городах Сибири и России.

        .text-page__quote
          +hightlighted-text({className: 'quote__value'})
            | Закваски соответствуют требованиям Федерального закона Федеральный закон «Технический регламент на молоко и молочную продукцию» от 12.06.2008 N 88-ФЗ и Единым санитарно-эпидемиологическим требованиям к продукции (товарам), подлежащим санитарно-эпидемиологическому надзору

          .quote__owner
            img(src= require('../../assets/img/quote-owner.png'), alt="Quote owner")
            .info
              +heading({tag: 'h4', className: 'owner__name', level: 4})
                | Никулин Леонид Георгиевич
              .owner__position Генеральный директор

        +description-text({className: ''})
          | Качество наших заквасок подтверждают российские свидетельства о государственной регистрации и сертификаты соответствия, а также доверие наших партнеров, ведь уже много лет мы сотрудничаем

        +accordion([
          {
            title: 'Пробиотики предназначены',
            text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
            expanded: false,
          },
          {
            title: 'Наиболее частые и известные причины дисбактериоза',
            text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
            expanded: false,
          },
          {
            title: 'Лабораторность художественной культуры имеет классический реализм',
            text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
            expanded: true,
          },
          {
            title: 'В комплексной терапии кишечных инфекций',
            text: 'Описание к фотографии. Разработкой и производством пробиотиков АО «Вектор-БиАльгам» занимается более 20 лет. За это время нашим специалистам медицинских специалистов по всей стране. Препараты и продукты с содержанием пробиотических микроорганизмов, в первую очередь, предназначены для восстановления микрофлоры кишечника. Доказано, что нормальная микрофлора выполняет в нашем организме ряд важнейших регуляторных функций, в то время как при дисбактериозах возникает целый ряд различных нарушений: дисфункции пищеварения, аллергические реакции, нарушение иммунного ',
            expanded: false,
          }
        ])

        .text-page__text-block
          +description-text({className: ''})
            | Качество наших заквасок подтверждают российские свидетельства о государственной регистрации и сертификаты соответствия, а также доверие наших партнеров, ведь уже много лет мы сотрудничаем

          +description-text({className: ''})
            | На пробиотических заквасках мы производим кисломолочные продукты собственной серии «Бифидом», которые знают и любят жители Новосибирска. Эти продукты являются запатентованными разработками компании, имеют уникальные свойства и оригинальный вкус.

        +heading({tag: 'h3', className: 'text-page__subtitle', level: 3})
          | Документы

        +description-text({className: ''})
          | АО «Вектор-БиАльгам» выпускает комплекс пробиотиков 

        .text-page__documents
          .document-link
            svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
              path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
            +link({href: './'})
              | Сертификат НАССР
          .document-link
            svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
              path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
            +link({href: './'})
              | Брошюра "Комплексный подход к восстановлению микрофлоры"
          .document-link
            svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
              path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
            +link({href: './'})
              | Дисбактериоз и аллергия
          .document-link
            svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
              path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
            +link({href: './'})
              | Сертификат НАССР
          .document-link
            svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
              path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
            +link({href: './'})
              | Фитнес и пробиотики
          .document-link
            svg(width='13' height='18' xmlns='http://www.w3.org/2000/svg' version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/' viewBox='0 0 13 18')
              path(d='M13.00002,5.09128v11.43933c0,0.81027 -0.64762,1.46949 -1.44356,1.46949h-10.1128c-0.79617,0 -1.44367,-0.65922 -1.44367,-1.46949v-15.06082c0,-0.81027 0.64751,-1.46949 1.44367,-1.46949h6.55495c0.09281,0 0.18162,0.03748 0.24708,0.10384l4.65214,4.7353c0.06546,0.06683 0.1022,0.15743 0.1022,0.25185zM8.34822,1.21442v2.76289c0,0.41758 0.33405,0.75843 0.74455,0.75843h2.71408zM12.30112,5.44713h-3.20835c-0.79605,0 -1.44367,-0.65954 -1.44367,-1.46981v-3.26549h-6.20544c-0.41073,0 -0.74478,0.33942 -0.74478,0.75795v15.06082c0,0.41805 0.33405,0.75795 0.74478,0.75795h10.1128c0.41061,0 0.74467,-0.3399 0.74467,-0.75795z' fill='#487cd1' fill-opacity='1')
            +link({href: './'})
              | Откуда брать витамины и как обеспечить их усвоение?

        +heading({tag: 'h3', className: 'text-page__subtitle', level: 3})
          | Таблица

        .text-page__table
          .table
            .head.row
              .th Наименование 1
              .th Наименование 2
              .th Наименование 3
              .th Наименование 4
            .row
              .td Наименование 1
              .td Наименование 2
              .td Наименование 3
              .td Наименование 4
            .row
              .td Наименование 1
              .td Наименование 2
              .td Наименование 3
              .td Наименование 4
            .row
              .td Наименование 1
              .td Наименование 2
              .td Наименование 3
              .td Наименование 4
            .row
              .td Наименование 1
              .td Наименование 2
              .td Наименование 3
              .td Наименование 4

        +heading({tag: 'h3', className: 'text-page__subtitle', level: 3})
          | Партнеры

        .text-page__partners
          +partner-logo({img: require('../../assets/img/partner-logo.png')})
          +partner-logo({img: require('../../assets/img/partner-logo.png')})
          +partner-logo({img: require('../../assets/img/partner-logo.png')})
          +partner-logo({img: require('../../assets/img/partner-logo.png')})
          +partner-logo({img: require('../../assets/img/partner-logo.png')})
          +partner-logo({img: require('../../assets/img/partner-logo.png')})
          +partner-logo({img: require('../../assets/img/partner-logo.png')})
          +partner-logo({img: require('../../assets/img/partner-logo.png')})

    +question()
    +footer()
