.photo-slider {
    position: relative;
}

.photo-slider .slide__img {
    width: 800px;
    height: 529px;
    object-fit: cover;
}

.photo-slider .slide__description {
    display: flex;
    align-items: center;
    width: 800px;
    height: 114px;
    padding: 0 222px 0 69px;
    background-color: #f2f6fa;
    color: #70797d;
    font-family: 'UR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.photo-slider__controls {
    position: absolute;
    bottom: 36px;
    right: 35px;
    display: flex;
    justify-content: space-between;
    width: 108px;
    background-color: #f2f6fa;
}