.page-404 {
    display: block;
    min-height: calc(100vh - 130px);
    background-color: #0442bc;
    background-image: url('../../assets/img/404.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 38%;
}

.page-404__title {
    width: 676px;
    margin: 0 auto;
    padding-top: 586px;
    color: #ffffff;
    font-family: 'UM', sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 66px;
}

.page-404__description {
    width: max-content;
    margin: 31px auto 0;
    padding-right: 25px;
    padding-bottom: 92px;
    font-family: 'UM', sans-serif;
    color: #b0bfde;
    text-align: center;
}

.page-404__description a {
    color: #e21c2a;
}

.page-404__content {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .page-404 {
        min-height: calc(100vh - 160px);
        background-size: 281px 149px;
        background-position: 51% 102px;
        margin-bottom: -1px;
    }

    .page-404__title {
        width: 175px;
        padding-top: 270px;
        text-align: center;
        font-size: 32px;
        line-height: 36px;
    }

    .page-404__description {
        width: 300px;
        margin-top: 19px;
        padding-right: 0;
    }

    .page-404__content {
        margin-left: 0;
    }
}
