- var active = 1;

mixin history-slider(items)
  section.history-slider
    .history-slider__years
      each slide, i in items
        if i == active
          button.year.active.js-history-year= slide.year
        else
          button.year.js-history-year= slide.year
      
    .history-slider__content.container-sm
      img(src= items[active].img, alt="Photo").history-slider__photo
      p.history-slider__description= items[active].text
      p.history-slider__description-slide= items[active].description