.link {
    color: #487cd1;
    font-family: 'UM', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 66px;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

.link:active {
    color: #839fcc;
}